@tailwind components;
@tailwind base;
@tailwind utilities;

::-webkit-scrollbar{
  width: 4px;
}
::-webkit-scrollbar-thumb{
  background: #ff0000;
  border-radius: 5px;
}
html{
  scroll-behavior: smooth;
}
/* Home component  */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}
