@tailwind components;
@tailwind base;
@tailwind utilities;

::-webkit-scrollbar{
  width: 4px;
}
::-webkit-scrollbar-thumb{
  background: #ff0000;
  border-radius: 5px;
}
html{
  scroll-behavior: smooth;
}
/* Home component  */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}


           /* For Skill compo */
/* Gradient Background Animation */
.skill-bg {
  background: linear-gradient(45deg, #ccc, #00000096);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* For Skill compo */
/* Tooltip */
.skill-bar[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: -30px;
  border-bottom-right-radius: -30px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  white-space: nowrap;
}
